<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home | People</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>People list</h1>
        <a href="/createPerson">Create</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>                
            </thead>
            <tbody>
                <tr th:each="person : ${peopleList}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.gender}"></td>
                    <!-- Evaluation for personIsActive 
                    <td th:if="${person.isActive}">Active</td>
                    <td th:unless="${person.isActive}">Inactive</td> -->
                    <!-- ternary operator -->
                    <td th:text="${person.active} ? 'Active' : 'Inactive'"></td>
                    <td>
                        <a th:href="@{/editPerson/{id}(id=${person.id})}">Editar</a>
                        <a th:href="@{/deletePerson/{id}(id=${person.id})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>        
    </body>
</html>
