<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home | People</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Status</th>
                </tr>                
            </thead>
            <tbody>
                <tr th:each="person : ${peopleList}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.gender}"></td>
                    <!-- Evaluation for personIsActive 
                    <td th:if="${person.isActive}">Activo</td>
                    <td th:unless="${person.isActive}">Inactivo</td> -->
                    <!-- ternary operator -->
                    <td th:text="${person.active} ? 'Activo' : 'Inactivo'"></td>
                    
                </tr>
            </tbody>
        </table>        
    </body>
</html>
